In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# from SedCas import SedCas

import os 
import numpy as np

%matplotlib inline

In [2]:
"""
Created on Thu Feb  3 16:56:57 2022

@author: hirschbe
"""

from SedCas_glaciers import SedCas
# 
model = SedCas()
model.load_climate()
model.load_params()
model.run_hydro()
# model.run_sediment()
model.save_output()
model.plot_sedyield_monthly()

s                      depth  ddepth  sacc     smelt  albedo
D
2010-01-01 00:00:00    0.0     0.0   0.0  1.606091    0.15
2010-01-01 01:00:00    0.0     0.0   0.0  0.000000    0.15
2010-01-01 02:00:00    0.0     0.0   0.0  0.000000    0.15
2010-01-01 03:00:00    0.0     0.0   0.0  0.000000    0.15
2010-01-01 04:00:00    0.0     0.0   0.0  0.000000    0.15
...                    ...     ...   ...       ...     ...
2021-12-31 19:00:00    0.0     0.0   0.0  0.000000    0.15
2021-12-31 20:00:00    0.0     0.0   0.0  0.000000    0.15
2021-12-31 21:00:00    0.0     0.0   0.0  0.000000    0.15
2021-12-31 22:00:00    0.0     0.0   0.0  0.000000    0.15
2021-12-31 23:00:00    0.0     0.0   0.0  0.000000    0.15

[105192 rows x 5 columns]
s                      depth  ddepth  sacc     smelt  albedo
D
2010-01-01 00:00:00    0.0     0.0   0.0  1.606091    0.25
2010-01-01 01:00:00    0.0     0.0   0.0  0.000000    0.25
2010-01-01 02:00:00    0.0     0.0   0.0  0.000000    0.25
2010-01-01 03:00:00    0.0     0.0   0.0  0.000000    0.25
2010-01-01 04:00:00    0.0     0.0   0.0  0.000000    0.25
...                    ...     ...   ...       ...     ...
2021-12-31 19:00:00    0.0     0.0   0.0  0.000000    0.25
2021-12-31 20:00:00    0.0     0.0   0.0  0.000000    0.25
2021-12-31 21:00:00    0.0     0.0   0.0  0.000000    0.25
2021-12-31 22:00:00    0.0     0.0   0.0  0.000000    0.25
2021-12-31 23:00:00    0.0     0.0   0.0  0.000000    0.25

[105192 rows x 5 columns]
s                      depth  ddepth  sacc     smelt  albedo
D
2010-01-01 00:00:00    0.0     0.0   0.0  1.606091     0.5
2010-01-01 01:00:00    0.0     0.0   0.0  0.000000     0.5
2010-01-01 02:00:00    0.0     0.0   0.0  0.000000     0.5
2010-01-01 03:00:00    0.0     0.0   0.0  0.000000     0.5
2010-01-01 04:00:00    0.0     0.0   0.0  0.000000     0.5
...                    ...     ...   ...       ...     ...
2021-12-31 19:00:00    0.0     0.0   0.0  0.000000     0.5
2021-12-31 20:00:00    0.0     0.0   0.0  0.000000     0.5
2021-12-31 21:00:00    0.0     0.0   0.0  0.000000     0.5
2021-12-31 22:00:00    0.0     0.0   0.0  0.000000     0.5
2021-12-31 23:00:00    0.0     0.0   0.0  0.000000     0.5

[105192 rows x 5 columns]
g                      depth  ddepth  sacc     smelt  albedo
D
2010-01-01 00:00:00    0.0     0.0   0.0  1.606091     0.5
2010-01-01 01:00:00    0.0     0.0   0.0  0.000000     0.5
2010-01-01 02:00:00    0.0     0.0   0.0  0.000000     0.5
2010-01-01 03:00:00    0.0     0.0   0.0  0.000000     0.5
2010-01-01 04:00:00    0.0     0.0   0.0  0.000000     0.5
...                    ...     ...   ...       ...     ...
2021-12-31 19:00:00    0.0     0.0   0.0  0.000000     0.5
2021-12-31 20:00:00    0.0     0.0   0.0  0.000000     0.5
2021-12-31 21:00:00    0.0     0.0   0.0  0.000000     0.5
2021-12-31 22:00:00    0.0     0.0   0.0  0.000000     0.5
2021-12-31 23:00:00    0.0     0.0   0.0  0.000000     0.5

[105192 rows x 5 columns]

/Users/varyabazilova/Desktop/sedcas/varya_project/wsl_stay_10oct2022/glaciers/modules.py:373: RuntimeWarning: divide by zero encountered in double_scalars
  b = 1. - np.exp(-a*Vw[i,0]/float(s.Scap[0]))

hello world

AttributeError: 'SedCas' object has no attribute 'sed'

In [ ]:
#model.HRUs[2]# == 'glacier'
model.HRUs

In [3]:
hydro_out = pd.read_csv('Hydro.out')

In [4]:
hydro_out

,D,Q,Qs,Qss,Vw,snow,snowacc,PET,AET,Pr,Ta
0,2010-01-01 00:00:00,0.000000,0.000000e+00,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.034913,20.576141
1,2010-01-01 01:00:00,0.003650,3.108755e-03,0.000541,0.027437,0.0,0.0,0.000000,0.000000,0.031088,19.284302
2,2010-01-01 02:00:00,0.004532,3.443472e-03,0.001088,0.056566,0.0,0.0,0.007400,0.000774,0.034435,21.075501
3,2010-01-01 03:00:00,0.002378,1.865253e-03,0.000513,0.051202,0.0,0.0,0.147618,0.021638,0.018653,24.665222
4,2010-01-01 04:00:00,0.001154,1.147948e-03,0.000006,0.041337,0.0,0.0,0.305144,0.020191,0.011479,27.521057
...,...,...,...,...,...,...,...,...,...,...,...
105187,2021-12-31 19:00:00,0.039874,1.862645e-07,0.039874,17.019018,0.0,0.0,0.000000,0.000000,0.000002,25.442169
105188,2021-12-31 20:00:00,0.040052,1.862645e-07,0.040052,16.978968,0.0,0.0,0.000000,0.000000,0.000002,24.321655
105189,2021-12-31 21:00:00,0.040226,1.862645e-07,0.040226,16.938743,0.0,0.0,0.000000,0.000000,0.000002,22.749420
105190,2021-12-31 22:00:00,0.040396,1.862645e-07,0.040396,16.898349,0.0,0.0,0.000000,0.000000,0.000002,21.487793
105191,2021-12-31 23:00:00,0.041628,9.087846e-04,0.040719,16.865809,0.0,0.0,0.000000,0.000000,0.009088,21.559265